<div ng-hide="isOwner">
  <div class="well">
    <h3>{{ list.name }}</h3>
  </div>
  <ol>
    <li ng-repeat="item in list.items">{{ item.name }}</li>
  </ol>
</div>

<div ng-show="isOwner">
  <div class="well">
    <input type="text" ng-model="list.name" />
  </div>
  
  <div ng-repeat="item in list.items">
    <span>{{ $index + 1 }}</span>
    <input type="text" ng-model="item.name" />
    <input type="button" ng-click="removeItem($index)" value="X" />
  </div>

  <input type="button" value="Save" ng-click="save()" />
  <input type="button" value="+Add" ng-click="addItem()" />
</div>
